<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Banks</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
    th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
    <div class="container">
        <h2>
            Welcome to Bank <span th:text="${bank.name}">Name</span> Accounts
        </h2>
        <a class="btn btn-default pull-right" th:href="@{/banks}">Banks</a>
        <br/>
        <h3>Create Account</h3>
        <p class="text-danger" th:text="${error}">Error</p>
        <form class="form-inline" th:action="@{/banks/{code}/accounts(code=${bank.code})}" th:object="${account}" method="post">
            <label>Client ID: </label> <input class="form-control" type="text" th:field="*{clientID}" />
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
        <br/>
        <h3>List of Accounts</h3>
        <table id="accounts" class="table table-striped">
            <thead>
                <tr>
                    <th>IBAN</th>
                    <th>Balance</th>
                    <th>ClientID</th>
                    <th>Withdrawal/Deposit</th>
                    <th>Transfer money</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="account: ${bank.accounts}">
               	    <td class="accountName" th:text="${account.IBAN}">Name</td>
                    <td th:text="${account.balance}">Balance</td>
                    <td><a th:text="${account.clientID}" 
                    	   th:href="@{/banks/{code}/accounts/client/{clientId}(code=${bank.code},clientId=${account.clientID})}">
                    	   Id
                    	</a>
                   	</td>
                    <td>
                    	<form class="form-inline" 
                    		  th:action="@{/banks/{code}/accounts/{IBAN}/do(code=${bank.code}, IBAN=${account.IBAN})}" 
                    		  method="post">
                    		<label>Value: </label>
                    		<input style="width:25%" class="form-control" type="number" min="0" value="0" name="value"/>
                    		<input class="btn btn-primary" type="submit" value="Withdrawal" name="operationType"/>
                    		<input class="btn btn-primary" type="submit" value="Deposit"  name="operationType"/>
                    	
                    	</form>
                    </td>
                    <td>
                    	<form class="form-inline" 
                    		  th:action="@{/banks/{code}/accounts/{fromIBAN}/transfer(code=${bank.code}, fromIBAN=${account.IBAN})}" 
                    		  method="post">
                    		<label>Value: </label>
                    		<input style="width:20%" class="form-control" type="number" min="0" value="0" name="value"/>
                    		<label>To IBAN: </label>
                    		<input class="form-control" type="text" name="toIBAN" />
                    		<input class="btn btn-primary" type="submit" value="Transfer"  name="transfer"/>
                    	
                    	</form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
	$("input[name=toIBAN]").focusout(function() {
		var l = $(this);
		setTimeout(function() {
		if(document.activeClickElement)
	       if(document.activeClickElement.hasClass("accountName"))  {
	     		l.val(document.activeClickElement.text());
	     	}
	    },500);

	});
	
	$("body").click(function(e) {
		if($(e.target).hasClass("accountName"))
			document.activeClickElement = $(e.target) ;
		else if(!$(e.target).is('input'))
			document.activeClickElement =null;
	});
</script>
</body>
</html>