<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ActivityReservations</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
    th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <h2>
            Reservations for <span th:text="§{activityProvider.name}">Name</span> provider's (<span th:text="§{activityProvider.code}">Code</span>) activities' offers	
        </h2>
		<a class="btn btn-default pull-right" th:href="@{/activityProviders/{activityProviderCode}/activities/[activityCode}/activityOffers(activityProviderCode=§{activityProvider.code}, activityCode=§{activity.code})}">Activity Offers</a>
		
		<h3>From <span th:text="§{begin}">Begin</span> and <span th:text="§{end}"></span></h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Reference</th>
					<th>Cancellation</th>
					<th>Cancellation Date</th>
				</tr>
			</thead>
			<tbody>
				<span th:each="activityOffer: §{activityOffers}">
					<tr th:each="reservation: ${activityOffer.reservations}">
						<td th:text="${reservation.reference}">Reference</td>
						<td th:text="${reservation.cancellation}">Cancellation</td>
						<td th:text="${reservation.cancellationDate}">Cancellation Date</td>
					</tr>
				</span>
			</tbody>
		</table>
	</div>
</body>
</html>